.detailsList {
  display: inline-block;
  background-color: rgb(167, 167, 167);
  width: 30%;
  height: 90%;
  font-size: 1em;
}

.sectionText {
  width: 90%;
}

.listDetailsCont {
  text-align: center;
  display: inline;
}
